<div class = "about">
  <center>
    <p>
      <h2><u> About Me</u></h2>
      Email me:
      <a href="mailto:saurabh.agra15@gmail.com" target="_top">saurabh.agra15@gmail.com </a>
      </br>
    </p>
    
    <p>Currently working as Product Enginner at 
      <a href="https://www.go-jek.com/">Go-Jek</a>
      , an unicorn existing in Indonesia</p>

    <p>Graduated From IIT Indore</br>Electrical Engineering</p>
  <a href="https://www.facebook.com/LivingKhalifa/" ><img src="../assets/images/facebook.png" height="42" width="42" title="facebook"></a>
  <a href="https://www.instagram.com/sau.rabh1515/" ><img src="../assets/images/Instagram.png" height="42" width="42" title="instagram"></a>
  <a href="https://twitter.com/LivingKhalifa" ><img src="../assets/images/twitter.png" height="42" width="42" title="twitter"></a>
  <a href="https://github.com/saurabh1900" ><img src="../assets/images/github.png" height="42" width="42" title="github"></a>
  <a href="https://www.linkedin.com/in/LivingKhalifa/" ><img src="../assets/images/linkedIn.png" height="42" width="42" title="linked In"></a>
</center>
</div>
